.squ{
  border-radius:0 !important;
}
.hidde{
  display:none !important;
}
.height_full{
  height:100%;
} 

.flex_c{
  display:flex !important;
  flex-direction:column;
}
.flex_item{
  flex:1 0;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
