/*---------- d3 ------------*/
.axis path, .axis line{
  fill: none;
  stroke: black;
  shape-rendering: crispEdges; /*讓線條沒有毛邊*/
}

.axis text {
  font-size: 15px;
}
#show_site {
    text-align:center;

}
/*---------- qtip ------------*/
.qtip { max-width: 90% !important;  }



/*-------- legend --------*/
.hint{
    display:inline-block;
    text-align:right;
	width:100%;
	margin-bottom:2%;
	padding-right: 1.5rem;
    font-size: 1vmin;
}

.gu{
	background-color: #63c2f4;
	color:black;
}
.ngu{
	background-color: yellow;
	color:black;
}

.bulge{
	background-color: #2cfb00;
	color:black;
}
.up_pos{
	background-color: red;
}
.tran_seq{
	background-color: blue;
}
/*-------- d3 hover table --------*/
.qtable{
	color : #ffffff;
	text-shadow: none;
	font-size:1.5vmin;
	text-align: center;
	border-collapse: collapse;
}
.qtable th,.qtable td{
	padding:4px 6px;
	/*border-right:1px solid #ddd;*/
	border-top:1px solid #ddd;
}


.qtable tr th:last-child,.qtable tr td:last-child{
	border-right:none;
}

.qtable tr:last-child td:last-child{
	letter-spacing: 1.2px;
}
/*-------- result table --------*/

#table{
	overflow: auto;
}

table{
	font-family: Courier New;
}

/*hyb_btn*/
.reg_on_hyb{
	color:#00ffa2;
}
.hyb_btn{
	width:70%;
}
