<!DOCTYPE html>
<html>

<head>
  {% load staticfiles %}

  {% block script_var %}{% endblock %}

  {% block importfile %}

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>

  <!-- semanticUI -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

  <!-- self-define -->
  <link rel="stylesheet" type="text/css" href="{%static 'BROWSE/browse/css/base.css'%}">
  <meta charset="utf-8">

  {% endblock %}

  <title>{% block title %}master_project{% endblock %}</title>
</head>

<body>

  <!-- header -->
	<div class="ui inverted menu huge squ stackable">
        <div class="header item">CLASH Analyst: A web server to identify RNA chimera reads from CLASH sequencing data</div>
        <div class="right menu">
            <a class="item" target="_blank" href="{% url 'usage' %}" id="nav_upload">
              <i class="upload icon"></i>
              Input
            </a>

            <a class="item" target="_blank" href="{% url 'browse' %}" id="nav_browse">
              <i class="eye icon"></i>
              Result
            </a>

            <a class="item" target="_blank" href="{% url 'contact' %}"  id="nav_contact">
              <i class="address card icon"></i>
              Contact
            </a>
        </div>
	</div>

    <div class="ui hidden divider"></div>
  {% block main %}{% endblock %}	


<div class="ui  vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui section divider"></div>
    <p>©Copyright 2020 by NCKU Computational Systems Biology Lab. All rights reversed.</p>
  </div>
</div>

</body>
{% block jsfile %}{% endblock %}
</html>
