{% extends "base.html" %}

{% load staticfiles %}

{% block script_var %}
<script>
    var upload_url="{% url 'upload_url' %}"
    var downloadList_url="{% url 'downloadList_url' %}"
    var site_link="{% url 'site_link' %}"
    var copy_example_url="{% url 'copy_example' %}"
    var folder_id = "{{ folder_id |safe}}";
    var RNAup_score = "{{ RNAup_score |safe}}";
    var readCount = "{{ readCount |safe}}";
    var RNAfold_MFE = "{{ RNAfold_MFE |safe}}";

    {% comment %}var data_url="/master_project/master_media/uploadfile/aaa.txt"{% endcomment %}
</script>
{% endblock %}

{% block importfile %}
{{ block.super }}

  <!--datables-->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	<!--qtip2-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" rel="stylesheet"  />

	<!-- sweetalert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <!-- self-define -->
  <link rel="stylesheet" type="text/css" href="{%static 'BROWSE/browse/css/browse.css'%}">

{% endblock %}

{% block title %}Browse{% endblock %}


{% block main %}
  {% comment %}<!------------browse filter-------->{% endcomment %}
  <div class="ui container">
    <div class="ui segments">

      <div class="ui segment header block">
        <p><i class="filter icon"></i>Enter JobID and display settings</p>
      </div>
      <div class="ui segment">
        <div class="ui centered stackable four column grid container">
          <div class="three wide column">
            <div class="ui labeled input fluid">
              <div class="ui label">
                Job ID
              </div>
                <input type="text" id="folder_id">
            </div>
          </div>
          <div class="five wide column">


        <div class="ui buttons fluid">
          <div class="ui button">Browse by</div>
          <div class="ui floating dropdown icon basic button btn_border">
            <span class="text">Small RNA name</span>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">Small RNA name</div>
              <div class="item">Target RNA name</div>
              
            </div>
          </div>
        </div>

          </div>
          <div class="four wide column">
            <div class="ui labeled input fluid">
              <div class="ui label">

                <i class="info circle icon" id="m_rs"></i>
                RNAup Score ≤
              </div>
              <input type="text" placeholder="default:0" value="0" id="RNAup_score">
            </div>            
          </div>
          <div class="four wide column">
            <div class="ui labeled fluid input">
              <div class="ui label">
                <i class="info circle icon" id="m_rc"></i>
                Read Count ≥
              </div>

              <input type="text" placeholder="default:0" value="0" id="readCount">
            </div>     
          </div>
          <div class="centered row">
            <button class="ui icon green button" id="search">
              <i class="paper plane icon"></i>
              Browse
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% comment %}<!------------ Input Parameter -------->  {% endcomment %}
<div class="ui hidden divider"></div>
<div class="ui two column stackable grid container" id="all_para">
    <div class="column" id="input_para">
        <div class="ui segments">
          <div class="ui segment header block">
            <p><i class="eye icon"></i>Processing settings and algorithm selection</p>
          </div>
          <div class="ui segment">            
              <table class="ui celled table">
                  <tbody id="input_parameter">
                  </tbody>
              </table>
          </div>
        </div>
    </div>
  
  <div class="ui column" id="output_para">
    <div class="ui segments">
      <div class="ui segment header block">
        <p><i class="eye icon"></i>Output summary</p>
      </div>
      <div class="ui segment">            
              <table class="ui celled table">
                  <tbody id="output_summary">
                  </tbody>
              </table>
      </div>
    </div>
  </div>
</div>

{% comment %}<!------------browse result-------->  {% endcomment %}
  <div class="ui hidden divider"></div>
  <div class="ui container" id="browse_result">
    <div class="ui segments">
      <div class="ui segment header block">
          <span><i class="eye icon"></i>Browse result</span>
        
          <a id="downloadList" style="float:right">
              <i class="download icon" ></i>Result
              <div class="ui inline mini loader" id="load_result"></div>
          </a>
      </div>
      <div class="ui segment"> 
        <table id="example" class="display" style="width:100%">
          <thead>
            <tr>
              <td></td>
            </tr>
          </thead>
        </table>
		<div style="text-align:center">
          <a id="downloadList_b">
          <button class="ui blue icon button">
           
            <i class="download icon"></i> Result
             <div class="ui inline mini loader white inverted" id="load_result_bottom"></div>
          </button>
          </a>
        </div>

      </div>
    </div>
  </div>



{% comment %}<!------------waiting-------->  {% endcomment %}

  <div class="ui page dimmer">
    <div class="ui text loader large">Loading...</div>
  </div>




{% endblock %}  
{% block jsfile %}
<script src="{%static 'BROWSE/browse/js/browse.js'%}"></script>
{% endblock %}
