<!DOCTYPE html>
<html>

<head>
  {% load staticfiles %}

  {% block script_var %}{% endblock %}

  {% block importfile %}

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>

  <!-- self-define -->
  <link rel="stylesheet" type="text/css" href="{%static 'BROWSE/browse/css/base.css'%}">
  <meta charset="utf-8">

  {% endblock %}

  <title>{% block title %}My amazing blog{% endblock %}</title>
</head>

<body>
  <header>
    <h1 class="top head2"><a href="#">CLASH <br>Analyst</a></h1>

    <nav>
      <ul>
        <li><a target="_blank" href="{% url 'usage' %}">UPLOAD</a></li>
        <li><a target="_blank" href="{% url 'browse' %}">Browse</a></li>
        <li><a target="_blank" href="#">Contact</a></li>
      </ul>
  </nav>
  </header>

  <div class="border">
  {% block main %}{% endblock %}	

  </div>

  <footer>
    <p>©Copyright 2020 by NCKU Computational Systems Biology Lab. All rights reversed.</p>
  </footer>

</body>
{% block jsfile %}{% endblock %}
</html>
