.squ{
  border-radius:0 !important;
}
.hidde{
  display:none !important;
}
.height_full{
  height:100%;
} 

.flex_c{
  display:flex !important;
  flex-direction:column;
}
.flex_item{
  flex:1 0;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/*------- for title ----------*/
.reg_text{
	color:red;
}
.tran_text{
	color:blue;
}

.tTitle{
    font-size: 1.5em;
    font-weight: bold;
	text-align: center;
}

/*-------- table ----------*/
tbody{
	text-align: center;
}

/*------- stress ---------*/

.stress{
  color:#fff701;
}
.stress_red{
  color:#f00a0a;
}


@media only screen and (max-width: 1060px) {
	.ui.stackable.menu .right.menu {
		    flex-direction: column;
			  
	}
	
}
